/* font for whole page */
* {
    font-family: Helvetica, sans-serif, Arial;
}

/* background color */
body {
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
    padding-left: 1pt;
    padding-right: 1pt;
    background: #36393f;
    color: #D3D3D3;
}

h1 {
    position: static;
    border: 5px outset #D3D3D3;
}

h2 {
    position: relative;
    left: 16px;
    text-decoration: gray overline underline;
}

#attendanceform{
    text-align:left;
    margin: 1pt 1pt 1pt 1pt;
    padding: 10pt 10pt 5pt 5pt;
    background: #2f3136;
    border-width: 2px;
    border-radius: 12px;
    border-style: solid;
    border-color: #FFFFFF;
    display: inline-block;
    

}


#HI div{
    display: inline-flex;
    background-color: #2f3136;
    border: 1px dashed;
    padding: 10px; 
}

.goodbyes {
    display: grid;
    grid-template-columns: 40% 30% 30%;
}

div p {
    background-color: #2f3136;
    border-radius: 8px;
}

video{
    display:block;
    
}

img[height],video {
    border:blue dotted;
    padding: 10px;
}

ol > li {
    background-color: darkcyan;
}

h3 + ol{
    color:beige;
    text-decoration:underline;
}

div ~ button {
    text-decoration: line-through;
}

h3.completed{
    border:double;
}

a:link{
    color:aquamarine;
    text-decoration: none;
}

a:visited{
    color:orange;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: mediumseagreen;
}

button:active{
    color: red;
}

@media screen and (max-width: 500px) {
    body{
        background-color: yellow;
    }
}